{{> nav }}

<div id="image-main-container">
<div id="image-container">
    <img src="{{ picture.data.image_files.[0].file_url }}">
    <div class="image-title">
        {{ picture.data.name }}
    </div>
    <div class="favorite">

    <form action="/discover/favorite/{{ id }}" method="post">
      <button class="favoriteBTN" type="submit">Favorite</button>
    </form>
    
    </div>  
     <form action="/addComment/{{id}}" method="post">
            <div class="comment">
                <input name="comments" id="comments" placeholder="comment here"/>
                <button class="submit" type="submit" value="Submit">Submit</button>
                <button class="submit" type="reset" value="Reset">Reset</button>
            </div>
      </form>
</div>
  <div class="comments-response-container flex-container">
      {{#comments}}
        <div class="writComments">
          <ul>
            <li>
              {{ comment }}
            </li>
          </ul>
          
        </div>
      {{/comments}}
  </div>
 

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{{> footer}}
